$primary: #939356;
$secondary: #f59223;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

// $primary: #939356;

// header {
//     background: 
//     linear-gradient(to right,
//     rgba(green, 0.9), rgba(green, 0.3))
//     ,url('../images/Shop-HeroImage.jpg') center top;
//     background-size: cover;
//     background-color: rgb(201, 234, 141);
//     height: 75vh;
// }

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.footer-shape {
    display:flex;
}

.error-message {
    color: red;
  }


.hero-slider-img {
  z-index:-1;
}

.left-footer-triangle {
    width: 0;
height: 0;
border-style: solid;
border-width: 5rem 0 0 50vw;
border-color: transparent transparent transparent #eed9c8;
}

.right-footer-triangle {
    width: 0;
height: 0;
border-style: solid;
border-width: 0 0 5rem 50vw;
border-color: transparent transparent #f3e0d1 transparent;
}
.cart-image {
    height:25%;
}

.grocery-heading, .beauty-heading {
    position:relative;
}

.grocery-background {
    position:absolute;
    right: 40%;
    height: 70%;
    width: 150%;
    top: 45%;
    z-index: -1;
    border-radius: 0px 5rem 10rem 0rem;
    background-color: #f9c4a2;
}

.cloth-background {
    position:absolute;
    right: 40%;
    height: 70%;
    width: 150%;
    top: 45%;
    z-index: -1;
    border-radius: 0px 5rem 10rem 0rem;
    background-color: #f3e0d1;
}

.grocery-hero-caption {
    position: absolute;
    right: 70%;
    top: 60%;
    width: 25%;


}



.beauty-background {
    position: absolute;
    left: 40%;
    height: 60%;
    width: 150%;
    top: 55%;
    z-index: -1;
    border-radius: 5rem 0px 0px 10rem;
    background-color: #acdbe7;
}

.btn-primary, .btn-secondary {
    color:white;
}

.carousel-item {
    height:75vh;
    position:relative;
}

.carousel-item > div {
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    padding-top:25%;
}

// .carousel-item:nth-child(2) > div {
//     position: absolute;
//     top: 10%;
//     left: 5%;
// }

// .carousel-item:nth-child(3) > div {
//     position: absolute;
//     top: 70%;
//     left: 35%;
// }

.carousel-inner {
    height:100%;
}

header > div > div {
    height:100%;
}

.card {
    padding: 2rem;
    border-radius: 1.5rem;
}

footer {
    height: 50vh;
    background-size: cover;
    background-position: center;
    color: black;
}

  @media (max-width: 992px) {

    header {
        margin-bottom: 5rem;
    }

    .left-footer-triangle {
    border-color: transparent transparent transparent #f6e1cc;
    }
    
    .right-footer-triangle {
    border-color: transparent transparent #fbe6d2 transparent;
    }

    

    .header-main {
        height: 50vh;
    }

    .grocery-hero-caption > h2  {
    
      font-size: 3vw;
    }

    .grocery-hero-caption > p  {
        font-size: 1.5vw;
    }
  }

  @media (max-width: 576px) {

    .carousel-item > div {
        padding-top: 50%;
    }

    .left-footer-triangle {
    border-color: transparent transparent transparent #f6e1cc;
    }
    
    .right-footer-triangle {
    border-color: transparent transparent #fbe6d2 transparent;
    }

    

    .header-main {
        height: 50vh;
    }

   .carousel-item > img {
       height: 35vh;
   }

    .grocery-hero-caption > h2  {
      margin-top: 4rem;
      font-size: 3vw;
    }

    .grocery-hero-caption > p  {
        font-size: 2vw;
    }
  }