$primary: #939356;
$secondary: #f59223;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// $primary: #939356;

header {
    background: 
    linear-gradient(to right,
    rgba(green, 0.9), rgba(green, 0.3))
    ,url('../images/Shop-HeroImage.jpg') center top;
    background-size: cover;
    background-color: rgb(201, 234, 141);
    height: 75vh;
}

.card {
    padding: 2rem;
    border-radius: 1.5rem;
}